<div class="container">
    <div class="row">
        <div class="col-md-12 align-items-center" id="pics">
            <img src="/assets/img/burger.png" alt="a delicious buger" id="burgerPic">
        </div>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="col-md-8">
                <input type="text" class="form-control" id="burgerInput" placeholder="Your Burger">
            </div>
            <div class="col-md-4">
                <button type="submit" class="submit btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="list-group" id="eatenList">
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group"  id="uneatenList">

            </div>
        </div>
    </div>
</div>
